.blog-sec {
    .blog-card {
        border-radius: $br-12;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        gap: $gap-16;
        background-color: $lightest-gray;

        .card-img {
            overflow: hidden;

            img {
                transition: $transition;
                width: 100%;
            }
        }

        .card-content {
            padding-top: 0 !important;
            padding: clamp(12px, 0.833vw, 32px);

            .dot {
                width: 4px;
                height: 4px;
                border-radius: 50%;
                background-color: $dark-gray;
            }

            .blog-user-img {
                width: clamp(24px, 1.667vw, 64px);
                height: clamp(24px, 1.667vw, 64px);
            }
        }


        &:hover {
            .card-img {
                img {
                    transform: scale(1.06);
                }
            }
        }
    }

    .filter-btn {
        padding: clamp(8px, 0.729vw, 28px) clamp(10px, 1.25vw, 48px);
        border: 1px solid $black;
        border-radius: $br-48;
        display: inline-flex;
        align-items: center;
        gap: $gap-12;
        transition: $transition;

        .filter-svg {
            svg {
                width: clamp(10px, 1.042vw, 40px);
                height: clamp(10px, 1.042vw, 40px);

                path {
                    transition: $transition;
                }
            }
        }

        .text-18 {
            transition: $transition;
        }

        &:hover {
            transition: $transition;
            background-color: $black;

            .text-18 {
                transition: $transition;
                color: $white !important;
            }

            .filter-svg {
                svg {
                    path {
                        fill: $white;
                    }
                }
            }
        }
    }

    .search-form {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: $br-8;
        border: 1px solid $black;
        padding: 2px 2px 2px $gap-16;

        @include media-query(1399px) {
            width: auto;
        }

        .newsvector {
            svg {
                width: clamp(16px, 1.042vw, 40px);
                height: clamp(16px, 1.042vw, 40px);
            }
        }

        input {
            width: 100%;
            border: none;
            background-color: transparent;
            outline: none;
            box-shadow: none;

            &:focus {
                border: none;
                background-color: transparent;
                outline: none;
                box-shadow: none;
            }

            &::placeholder {
                color: $dark-gray;
                font-family: $font-primary;
                font-size: clamp(12px, 0.833vw, 32px);
                /* 16px */
                font-style: normal;
                font-weight: 400;
                line-height: 150%;
            }
        }

        .news-button {
            flex-shrink: 0;
            padding: clamp(10px, 0.938vw, 36px);
            display: flex;
            align-items: center;
            border-radius: 4px;
            background-color: $black;
            transition: $transition;
            border: none;

            svg {
                width: clamp(16px, 1.042vw, 40px);
                height: clamp(16px, 1.042vw, 40px);
            }

            &:hover {
                background-color: $accent-3;
            }
        }
    }
}

.title-banner-sec {
    .h2 {
        font-size: clamp(28px, 2.083vw, 54px);
    }

    .dot {
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background-color: $dark-gray;
    }
}

.blog-detail {
    .quote-block {
        padding: clamp(18px, 1.25vw, 48px);
        background-color: $lightest-gray;
        border-left: 2px solid $accent-3;
        border-radius: $br-12;
    }
}